.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;

  @media screen and (max-width: 768px) {
    justify-content: center;
    margin-top: 1.5rem;
  }

  @media screen and (max-width: 480px) {
    margin-top: 1rem;
  }
}

.app__profile-item {
  width: 190px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;

  img {
    width: 100%;
    height: 170px;
    border-radius: 15px;
    object-fit: cover;
  }

  @media screen and (min-width: 1024px) {
    width: 220px;
    margin: 2rem 2.5rem;

    img {
      height: 180px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 250px;
    margin: 2rem 3rem;

    img {
      height: 200px;
    }
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }

  @media screen and (max-width: 768px) {
    width: 180px;
    margin: 1.5rem;

    img {
      height: 150px;
    }
  }

  @media screen and (max-width: 480px) {
    width: 160px;
    margin: 1rem;

    img {
      height: 140px;
    }
  }
}
